@import 'common/variables';
@import '_libs/jeet/index';
@import 'common/mixins';
@import 'common/fonts';
@import 'common/base';
@import 'blocks*';
//@import 'common/sprite-img';
.container {
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}



@mixin tooltip($color, $backgroundColor, $borderRadius, $transition, $offset, $arrowHeight, $arrowWidth) {
    position: relative;
    cursor: pointer;
    &:hover {
        &:before,
        &:after {
            opacity: 1;
            left: 50%;
        }
    }
    &:before,
    &:after {
        position: absolute;
        left: -9999px;
        transform: translateX(-20%);

        opacity: 0;

        transition: opacity $transition;
    }
    &:before {
        content: attr(data-text);

        color: $color;
        background-color: $backgroundColor;

        bottom: $offset;

        padding: 5px 10px;
        border-radius: $borderRadius;

        white-space: nowrap;
        text-transform: lowercase;
    }
    &:after {
        content: '';
        border-style: solid;
        border-width: $arrowHeight $arrowWidth/2 0 $arrowWidth/2;
        border-color: $backgroundColor transparent transparent transparent;
        bottom: calc(#{$offset} - #{$arrowHeight});
    }
}

.tooltipper {
    @include tooltip(#000, #99cd32, 5px, .6s, 150%, 8px, 10px);
    padding: 5px;
}

.image {
    cursor: pointer;
    position: relative;
    width: 600px;
    height: 600px;
    display: inline-block;
    overflow: hidden;
    &:hover {
        &:before,
        &:after {
            transform: translateY(0);
            opacity: 1;
        }
    }
    &:before,
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .6s ease-in;
        font-weight: bold;
        padding: 0 20px;
        opacity: 0;
    }
    &:before {
        content: attr(data-before);
        top: 0;
        transform: translateY(-100%);
        color: yellowgreen;
    }
    &:after {
        content: attr(data-after);
        bottom: 0;
        transform: translateY(100%);
        color: red;
    }
}



.pie {
    margin: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellowgreen;
    background-image: linear-gradient(to right, transparent 50%, #655 0);
    &:before {
        content: '';
        display: block;
        margin-left: 50%;
        height: 100%;
        background-color: #655;
        border-radius: 0 100% 100% 0 / 50%;
        transform-origin: left;
        transition: transform .4s;
        animation: spin 50s linear infinite,
                   bg 100s step-end infinite;
        animation-play-state: paused;
        animation-delay: inherit;
    }
}