extends ../_template

block variables
	- var title = ['index page title','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
	//- 	include ../blocks/..
	.grid
		.grid-sizer
		.grid__item.grid__item_width-1
		.grid__item.grid__item_width-1
		.grid__item.grid__item_width-1
		.grid__item.grid__item_width-1
		.grid__item.grid__item_width-1
		.grid__item.grid__item_width-1
		.grid__item.grid__item_width-2
		.grid__item.grid__item_width-2
		.grid__item.grid__item_width-2
		.grid__item.grid__item_width-2
		.grid__item.grid__item_width-3
		.grid__item.grid__item_width-3
		.grid__item.grid__item_width-3
		.grid__item.grid__item_width-4
		.grid__item.grid__item_width-4
	+icon('vk','social__link')
	+icon('twitter','social__link')
	ul.nav
		each link,title in nav.navPages
			li.nav__item
				a.nav__link(href=`${link}`) #{title}
	.block1
	.block2
	include ../blocks/social