extends ../_template

block variables
	- var title = ['title','description','keywords']

block content
	//- INCLUDE BLOCKS
	//	include ../blocks/..

	//- PASTE SVG
	// svg
	// 	use(xlink:href=`${svgPath}#arrow`)


	.block1
	.block2

	.container
		.aside
		.main
			.content
				.model
					.image
					.desk
					.buttons
						.button 1
				.model
					.image
					.desk
					.buttons
						.button 2
				.model
					.image
					.desk
					.buttons
						.button 3
				.model
					.image
					.desk
					.buttons
						.button 4
				.model
					.image
					.desk
					.buttons
						.button 5
