extends ../_template

block variables
	- var title = ['index page title','index page description','index page keywords']

block content
	//- .slider
	//- 	.slider__item(data-value='10', data-diagram='four') lorem1
	//- 	.slider__item(data-value='15', data-diagram='third') lorem2
	//- 	.slider__item(data-value='80', data-diagram='second') lorem3

	//- .diagram
	//- 	span.diagram__title 10
	//- 	svg.diagram__item(viewbox='0 0 110 110',data-fill='10')
	//- 		circle.diagram__circle.diagram__first(r='45', cx='50%', cy='50%', fill='none')
	//- 		circle.diagram__circle.diagram__second(data-fill='0' r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
	//- 		circle.diagram__circle.diagram__third(data-fill='0' r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
	//- 		circle.diagram__circle.diagram__four(data-fill='0' r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')

	//- ul.list
	//- 	li.list__item
	//- 		label.label
	//- 			input.label__check(type="checkbox")
	//- 			div.label__text label1
	//- 	li.list__item
	//- 		label.label
	//- 			input.label__check(type="checkbox")
	//- 			div.label__text label2
	//- 	li.list__item
	//- 		label.label
	//- 			input.label__check(type="checkbox")
	//- 			div.label__text label3
	//- 	li.list__item
	//- 		label.label
	//- 			input.label__check(type="checkbox")
	//- 			div.label__text label4
	//- 	li.list__item
	//- 		label.label
	//- 			input.label__check(type="checkbox")
	//- 			div.label__text label5
	//- 	li.list__item
	//- 		label.label
	//- 			input.label__check(type="checkbox")
	//- 			div.label__text label6
	//- h1 Вы выбрали
	//- .container
	//- 	span.tooltipper(data-text='Тултип Lorem ipsum dolor sit amet!!!') Наведи на меня
	//- 	.image(data-before=" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore consectetur perspiciatis beatae ut dolorum ratione, ducimus, ipsa iste rerum ullam.", data-after="bottom sleeeeeeeeeeeide")
	//- 		img(src="//lorempizza.com/600/600")



	.pie
	ul.list
		li.list__item